<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/style.css">
        <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <title>Cadastro || Dolphin</title>
    </head>

    <body>
        
        <div class="menu">
            <nav class="menu1">
                <ul>
                    <li><a href="">Cursos</a></li>
                    <li><a href="">Contato</a></li>
                    <li><a href="">Quem somos</a></li>
                    <li><a href="">Loja</a></li>
                </ul>
            </nav>
        </div>

        <main>
            <form id="" method="POST">
                <i class="material-icons">person</i>
                <label for="uname" id="Cad">Usuario: *</label><br>
                <input type="text" id="cadastro" name="uname"><br><br>

                <i class="material-icons">menu</i>
                <label for="fname" id="Cad">Primeiro nome: *</label><br>
                <input type="text" id="cadastro" name="fname"><br><br>

                <i class="material-icons">menu</i>
                <label for="lname" id="Cad">Ultimo nome: *</label><br>
                <input type="text" id="cadastro" name="lname"><br><br>

                <i class="material-icons">email</i>
                <label for="email" id="Cad">Endereço de e-mail: *</label><br>
                <input type="email" id="cadastro" name="email"><br><br>

                <i class="material-icons">lock</i>
                <label for="senha" id="Cad">Senha: *</label><br>
                <input type="password" id="cadastro" name="senha"><br><br>

                <i class="material-icons">lock</i>
                <label for="resenha" id="Cad">Confirme a senha: *</label><br>
                <input type="password" id="cadastro" name="resenha"><br><br>

                <i class="material-icons">menu</i>
                <label id="euquero">Eu quero:</label><br><br>
                <div class="selecionaperfil">
                    <button id="chek">Ensinar</button>
                    <button id="che">Aprender</button>
                </div><br>

                <button id="cads" type="submit">Cadastrar</button><br><br>
                <a href="" id="Cada">Ja é cadastrado? Login</a><br><br>
                <label for="lname" id="aviso">Após o cadastro, cheque o seu e-mail e confirme a sua conta para que ela seja aprovada. </label>
            </form>
        </main>

        <footer>
            <img src="" width="120" height="120">
            <p>Copyright &copy; 2020 by Dolphin’s Education. <br>Desenvolvido por Team Dolphin.</p>
        </footer>

    </body>
</html>