@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

html {
    width: 100%;
    height: 100%;
}

.menu {
    background: linear-gradient(180deg, rgb(136, 60, 236) 0%, rgba(255, 255, 255, 0) 100%), linear-gradient(180deg, #7D27EB 0%, rgba(255, 255, 255, 0) 62.06%), rgb(42, 170, 255);
    height: auto;
}

.menuflex {
    margin-bottom: 4px solid;
    display: flex;
}

header {
    padding-left: 70px;
}

.menu1 {
    width: 100%;
    height: 60px;
}

.menu1 ul {
    list-style: none;
    position: relative;
    float: right;
    padding-right: 50px;
}

.menu1 ul li {
    float: left;
    padding-left: 30px;
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 2px;
}

.menu1 ul li a {
    text-decoration: none;
    display: block;
    padding: 10px 10px;
    text-align: center;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 37px;
    color: #FFFFFF;
}

.menu1 ul li:hover {
    border-bottom: 4px solid #e0ffff;
    /*detalhe tava text decoration, so que tem que separar ai isso e um teste*/
}

#textcad {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 9em;
    line-height: 278px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 5.1885px 5.1885px rgba(0, 0, 0, 0.25);
}

.conteudo {
    width: 30%;
    margin: 0 auto;
    display: flex;
    height: 100%;
}

.conteudo form {
    padding: 15px;
    padding-top: 40px;
    padding-bottom: 100px;
}

.selecionaperfil {
    display: flex;
}

.selecionaperfil p {
    padding-left: 5px;
    padding-right: 5px;
}

.nomeantes {
    padding-left: 15px;
    font-weight: bold;
}

.campo {
    left: 0.06%;
    right: 0.06%;
    top: 0.82%;
    bottom: 0.82%;
    background: #FFFFFF;
    border: 2px solid rgba(0, 0, 0, 0.25);
    padding: 7px;
    width: 100%;
    margin-top: 15px;
}

#chek {
    width: 200px;
    height: 37px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 30px;
    color: #000000;
    background: #00FFF0;
    border: 3px solid rgba(13, 12, 61, 0.4);
    box-sizing: border-box;
    border-radius: 10px;
}

#che {
    width: 200px;
    height: 37px;
    background: #4402FF;
    opacity: 0.7;
    border-radius: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 30px;
    color: #000000;
}

#cads {
    width: 190px;
    height: 37px;
    border-radius: 10px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 30px;
    color: white;
    background: #7D27EB;
    margin-right: 10px;
}

#cada {
    width: 190px;
    height: 37px;
    background: #7D27EB;
    position: absolute;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 30px;
    color: white;
    border-radius: 10px;
    margin-left: 10px;
}

#euquero {
    padding-left: 15px;
    font-weight: bold;
}

footer {
    width: auto;
    align-items: left;
    background: linear-gradient(180deg, #7D27EB 0%, rgba(255, 255, 255, 0) 100%), rgb(143, 95, 255);
    height: auto;
    padding: 25px;
    padding-left: 70px;
}

footer p {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 1.1em;
    line-height: 30px;
    color: #000000;
}

@media only screen and (min-width: 720px) {}

@media only screen and (min-width: 1000px) {}